<div class="body">
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section ">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="index.html">
              <span>
                RouteFinder
              </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
            </button>
            <div class="collapse navbar-collapse ml-auto  " id="navbarSupportedContent">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a class="nav-link" >Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="goToDocs()">Documention </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="goToImplement()">Implementation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="goToHow()">How it works</a>
                </li>
              </ul>
             
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
  
  
      <!-- slider section -->
     
      <!-- end slider section -->
    </div>
  
    <!-- book section -->
  
    
  
  
    <!-- end book section -->
  
  
    <!-- about section -->
  
   
  
    <!-- end about section -->
  
    <!-- why section -->
  
    
     
    
  
    <!-- end client section -->
  
    <!-- info section -->
  
    <!-- end info_section -->
  
  
    <!-- footer section -->
   
    <!-- footer section -->
 
  
  <!-- <img src="../../../elaxi-html/css/style.scss" alt=""> -->
  
  </div>